#include <winres.h>
#include "resource.h"

//
// Menu resources
//
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDR_MENU MENU
{
    POPUP "PngOptimizer Menu"
    {
        MENUITEM "PNG options...", IDM_PNGOPTIONS
        MENUITEM SEPARATOR
        MENUITEM "Paste screenshot\tCtrl+V", IDM_PASTEFROMCLIPBOARD
        MENUITEM "Show screenshots directory", IDM_SHOWSCREENSHOTSDIRECTORY
        MENUITEM "Screenshots options...", IDM_SCREENSHOTSOPTIONS
        MENUITEM SEPARATOR
        MENUITEM "Always on top", IDM_ALWAYSONTOP
        MENUITEM "Clear list\tCtrl+Delete", IDM_CLEARLIST
        MENUITEM SEPARATOR
        MENUITEM "About PngOptimizer", IDM_ABOUT
    }
    MENUITEM SEPARATOR
}



//
// Dialog resources
//
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_ABOUT DIALOGEX 40, 40, 179, 109
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "About PngOptimizer"
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    ICON            IDI_MAIN, IDC_STATIC_LOGO, 10, 18, 32, 30, SS_ICON | SS_REALSIZEIMAGE
    CTEXT           "", IDC_STATIC_VERSION, 50, 13, 110, 8, SS_CENTER
    CTEXT           "", IDC_STATIC_COPYRIGHT, 50, 29, 96, 8, SS_CENTER
    CTEXT           "", IDC_STATIC_URL, 58, 45, 104, 8, SS_CENTER
    LTEXT           "This program is free software released under the GNU General Public License.", IDC_STATIC, 20, 64, 147, 18, SS_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 122, 88, 50, 14
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_ASKFORFILENAME DIALOG 0, 0, 171, 52
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Please enter file name"
FONT 8, "MS Shell Dlg"
{
    EDITTEXT        IDC_EDIT_FILENAME, 7, 7, 157, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 60, 31, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 114, 31, 50, 14
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_PNGOPTIONS DIALOGEX 0, 0, 220, 314
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "PNG options"
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    AUTOCHECKBOX    "Backup old PNG files (backup starts with _ )", IDC_CHECK_BACKUPOLDPNGFILES, 7, 7, 154, 10
    AUTOCHECKBOX    "Keep interlacing", IDC_CHECK_KEEPINTERLACING, 7, 21, 67, 10
    AUTOCHECKBOX    "Avoid grey + simple transparency (IE6 Bug)", IDC_CHECK_AVOIDGREYWITHSIMPLETRANSPARENCY, 7, 36, 156, 10
    AUTOCHECKBOX    "Ignore animated GIFs", IDC_CHECK_IGNOREANIMATEDGIFS, 7, 51, 156, 10
    AUTOCHECKBOX    "Keep file date", IDC_CHECK_KEEPFILEDATE, 7, 66, 89, 8
    GROUPBOX        "Background color [bKGD]", IDC_GROUP_BKGD, 7, 83, 206, 66
    AUTORADIOBUTTON "Remove", IDC_RADIO_BKCOLOR_REMOVE, 18, 97, 42, 10, WS_TABSTOP
    AUTORADIOBUTTON "Keep (32 bits RGBA only)", IDC_RADIO_BKCOLOR_KEEP, 18, 113, 96, 8, WS_TABSTOP
    AUTORADIOBUTTON "Force (32 bits RGBA only)", IDC_RADIO_BKCOLOR_FORCE, 18, 129, 97, 8, WS_TABSTOP
    CONTROL         "", IDC_STATIC_BKCOL, "Static", SS_BLACKRECT, 129, 117, 20, 20
    LTEXT           "rgb(0,0,0)", IDC_STATIC_BKCOLDEC, 155, 117, 57, 8, SS_LEFT
    LTEXT           "#000000", IDC_STATIC_BKCOLHEX, 154, 129, 56, 8, SS_LEFT
    GROUPBOX        "Textual data [tEXt]", IDC_GROUP_TEXT, 7, 154, 206, 66
    AUTORADIOBUTTON "Remove", IDC_RADIO_TEXT_REMOVE, 19, 168, 42, 10, WS_TABSTOP
    AUTORADIOBUTTON "Keep", IDC_RADIO_TEXT_KEEP, 19, 184, 32, 10, WS_TABSTOP
    AUTORADIOBUTTON "Force", IDC_RADIO_TEXT_FORCE, 19, 200, 34, 10, WS_TABSTOP
    LTEXT           "Keyword", IDC_STATIC_KEYWORD, 135, 165, 33, 8, SS_LEFT
    COMBOBOX        IDC_COMBO_TEXT_KEYWORD, 99, 175, 100, 68, WS_TABSTOP | CBS_DROPDOWN | CBS_HASSTRINGS
    EDITTEXT        IDC_EDIT_TEXT_DATA, 70, 198, 130, 12, ES_AUTOHSCROLL
    GROUPBOX        "Physical pixel dimensions [pHYs]", IDC_GROUP_PHYS, 7, 224, 206, 66
    AUTORADIOBUTTON "Remove", IDC_RADIO_PHYS_REMOVE, 19, 238, 42, 10, WS_TABSTOP
    AUTORADIOBUTTON "Keep", IDC_RADIO_PHYS_KEEP, 19, 254, 32, 10, WS_TABSTOP
    AUTORADIOBUTTON "Force", IDC_RADIO_PHYS_FORCE, 19, 270, 34, 10, WS_TABSTOP
    EDITTEXT        IDC_EDIT_PPMX, 70, 250, 40, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "×", IDC_STATIC_MULT1, 112, 252, 8, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_PPMY, 120, 250, 40, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "p. per meter", IDC_STATIC, 166, 251, 43, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_PPIX, 70, 268, 40, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "×", IDC_STATIC_MULT2, 112, 270, 8, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_PPIY, 120, 268, 40, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "p. per inch", IDC_STATIC, 166, 269, 43, 8, SS_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 110, 297, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 167, 297, 50, 14
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_SCREENSHOTSOPTIONS DIALOGEX 0, 0, 250, 130
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Screenshots options"
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    AUTORADIOBUTTON "Default (Temp directory in your Windows profile)", IDC_RADIO_DEFAULT, 17, 20, 199, 10, WS_TABSTOP
    AUTORADIOBUTTON "Custom", IDC_RADIO_CUSTOM, 17, 35, 39, 10, WS_TABSTOP
    PUSHBUTTON      "...", IDC_BUTTON_BROWSE, 214, 48, 24, 14
    GROUPBOX        "Target directory", IDC_STATIC, 7, 6, 235, 65
    AUTOCHECKBOX    "Maximize compression (smaller file but slower operation)", IDC_CHECK_MAXIMIZECOMPRESSION, 17, 80, 189, 10
    AUTOCHECKBOX    "Ask for file name", IDC_CHECK_ASKFORFILENAME, 17, 95, 68, 10
    EDITTEXT        IDC_EDIT_DIRECTORY, 17, 48, 194, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 138, 109, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 192, 109, 50, 14
}



//
// Icon resources
//
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDI_MAIN           ICON           "Main.ico"
