[Desktop Entry]
Version=2.6
Type=Application
Name=PngOptimizer
GenericName=Image Optimizer
Comment=Optimize PNG files, convert other lossless image formats to PNG.
Comment[fr]=Optimise vos fichiers PNG, convertit d'autres formats d'image sans perte en PNG.
Exec=pngoptimizer %F
Terminal=false
MimeType=image/png;image/gif;image/bmp;image/tga
Icon=pngoptimizer
Categories=Graphics;GTK;
