[Desktop Entry]
Version=2.5
Type=Application
Name=PngOptimizer
GenericName=Image Optimizer
Comment=Optimize PNG files, convert other lossless image formats to PNG
Exec=pngoptimizer %F
Terminal=false
MimeType=image/png;image/gif;image/bmp;image/tga
Icon=pngoptimizer
Categories=Graphics;GTK;
